:root {
    --colorI: #01281a;
    --colorII: #fff;
    --colorIII: #000;
    --colorIV: #01150e;
}

.body-container {
  margin-top: 60px;
  padding-bottom: 40px; }

.welcome-page li {
  list-style: none;
  padding: 4px; }

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0; }

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray; }
  .grants-page .card .card-title {
    font-size: 120%;
    font-weight: bold; }
    .grants-page .card .card-title img {
      width: 100px;
      height: 100px; }
  .grants-page .card label {
    font-weight: bold; }

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: solid 1px #626262;
    border-radius: 0px;
}

.btn-primary {
    color: #1e90ff;
    background-color: #F5F5F5;
    border: none;
}

h1, h2, h3, h4, h5, a, span, p, label {
    font-family: sans-serif;
}

h4, h5, p {
    font-weight: 300;
}

.text-descricao-P {
    font-size: 80%;
}

.link-destacado {
    color: #1e90ff !important;
}

#LeftBackground{
    background:#FFF;
}

#layoutLogo {
    width: 146px;
    height: 53px;
    background-image: url(../img/bd3.png);
    background-repeat: no-repeat;
    background-size: 146px 53px;
}

.loginDescricaoADireita {
    text-align: center;   
    padding-bottom: 0.8em;
    margin-left: 3em;
    margin-right: 3em;
}

.descricaoADiretaBackground1 {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 42%, rgba(255,255,255,1) 82%);
    height: 2px;
    width: 50%;
    margin-top: 12.8%;
    float: right;
    /*margin-left: 35%;*/
    display: block;
}
.descricaoADiretaBackground2 {
    background: rgb(160,44,44);
    background: linear-gradient(90deg, rgba(160,44,44,1) 42%, rgba(255,255,255,1) 82%);
    height: 2px;
    width: 50%;
    margin-top: 2px;
    float:right;
    /*margin-left:35%;*/
    display: block;
}

.canvas-background{
    background-image:url('../img/canvas/background.jpg');
    background-size: cover;
   
}

.loginContinuarCom {
    background: #FFF;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
    /*border: solid 1px #dcdcdc;*/
    border-top: none;
}

#LeftBackground{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    width:40%;
    z-index:-2;
}

.loginForm {
    background: #FFF;
    border-radius: 7px 7px 0px 0px;
    padding: 15px;
    /*border: solid 1px #dcdcdc;*/
    border-bottom: none;
}

.loginMargin4Percent{
    margin-top:4%
}

.menuNav {    
    padding-top: 30px;
    padding-bottom:0px;
    /*background:#FFF !important;*/
}

@media (max-width: 1000px) {    

    #LeftBackground {
        width:50%;
    }
}

@media (max-width: 800px) {
    .descricaoADireita {
        display:none;
    }

    #LeftBackground{
        display:none;
    }
}
