.body-container {
  margin-top: 60px;
  padding-bottom: 40px; }

.welcome-page li {
  list-style: none;
  padding: 4px; }

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0; }

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray; }
  .grants-page .card .card-title {
    font-size: 120%;
    font-weight: bold; }
    .grants-page .card .card-title img {
      width: 100px;
      height: 100px; }
  .grants-page .card label {
    font-weight: bold; }

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: solid 2px #626262;
    border-radius: 0px;
}

.btn-primary {
    color: #1e90ff;
    background-color: #F5F5F5;
    border: none;
}

h1, h2, h3, h4, h5, a, span, p, label {
    font-family: sans-serif;
}

h4, h5, p {
    font-weight: 300;
}

.text-descricao-P {
    font-size: 90%;
}

.link-destacado {
    color: #1e90ff !important;
}

#layoutLogo {
    width: 68px;
    height: 20px;
    background-image: url(../img/BomDev.svg);
    background-repeat: no-repeat;
    background-size: 68px 20px;
}

.loginDescricaoAEsquerda {
    text-align: center;
    border-bottom: dashed 1px indianred;
    padding-bottom: 0.8em;
    margin-left: 3em;
    margin-right: 3em;
}

.loginContinuarCom {
    background: #CD5C5C;
    padding: 10px;
    border-radius: 7px;
}

.loginForm {
    background: #CD5C5C;
    border-radius: 7px;
    padding: 15px;
}

.loginMargin5Percent{
    margin-top:2.5%;
}

.menuNav {    
    padding-top: 15px;
    padding-bottom:15px;
}