@{
    ViewData["Title"] = "Início";
}
<div class="container containerAfterMenu">
    <h4 style="margin-top: 2%;">Apps</h4>
    <ul style="list-style: none;margin:0;padding:0;margin-top:2%;">
            
    </ul>
</div>

@section Scripts
{
    <style>
        #navBarSecundario{padding-top:0.5%;padding-bottom:0.5%;}
        #containerBusca{padding:1% 2% 1% 2%;border-radius:15px;background:#F0F0F0;}
        .bloco-destaque {
            display: inline-block;
            width: 250px;
            padding: 2%;
            margin-right: 1.5%;
        }   
        @@media (max-width: 580px) {  
            .bloco-destaque{width: 100%;margin-bottom: 0.5%;}
        }        
    </style>
    <script>
        
    </script>
}