@using Microsoft.AspNetCore.Identity
@inject SignInManager<BomDevUser> SignInManager
@inject UserManager<BomDevUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var nomeUser = UserManager.GetUserAsync(User).Result?.FullName ?? User.Identity.Name;

    <li class="nav-item">        
        <a class="nav-link text-dark fundo-arredondado" style="font-weight: bold;margin-top: 2px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Minha conta @nomeUser">@nomeUser</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link fundo-arredondado" style="color:#FF0000;">Sair</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark fundo-arredondado" asp-area="Identity" asp-page="/Account/Register">              
            Cadastrar-se
        </a>
    </li>
    <li class="nav-item">
        <form id="external-account" asp-area="Identity" asp-page="/Account/ExternalLogin" method="post" class="form-horizontal">
            <button class="nav-link text-dark fundo-arredondado btn btn-primary" style="background:transparent;" type="submit" name="provider" value="@Startup.IdentityServerScheme">Login</button>
        </form>        
    </li>
}
</ul>
