@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="text-danger">Localizer["PageTitle"]</h1>
<h2 class="text-danger">Localizer["PageDescription"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
