@{
    ViewData["Title"] = "Sobre nós";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div>
            <h1 class="display-4">Sobre nós</h1>
            <h4>Desenvolvimento de software com viés humano e sustentável</h4>
        </div>        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Objetivos</h1>
            <div class="container">
                <ul style="list-style-type: disc;">
                    <li>
                        <p>Desenvolvimento de projetos que agregue valor ao dia-dia das pessoas;</p>
                    </li>
                    <li>
                        <p>Construção de soluções tecnológicas com foco sustentável.</p>
                    </li>
                </ul>                                
            </div>
        </div>
        <div class="col-md-6 m-t-10">
            <h1>Missão</h1>
            <div class="container">
                <ul style="list-style-type: none;">
                    <li>
                        <p>Desenvolvimento de soluções tecnológicas para agregar valor ao meio.</p>
                    </li>                                        
                </ul>                                
            </div>
        </div>        
        <div class="col-md-6 m-t-10">
            <h1>Valores</h1>
            <div class="container">
                <ul style="list-style-type: disc;">
                    <li>
                        <p>Mente aberta;</p>
                    </li>   
                    <li>
                        <p>Empátia;</p>
                    </li>                                     
                    <li>
                        <p>Espírito empreendedor.</p>
                    </li>
                </ul>                                
            </div>
        </div>
        <div class="col-md-6 m-t-10">
            <h1>Visão</h1>
            <div class="container">
                <ul style="list-style-type: none;">
                    <li>
                        <p>Ser referência em desenvolvimento de projetos de tecnologia para ajudar pessoas e processos.</p>
                    </li>                                        
                </ul>                                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <style>
        body header .navbar{margin-bottom: 0px!important;}
        p{font-size:130%;}
        .jumbotron{
            background-image: url(../img/sobre_imagem.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 414px;
        }                
        .jumbotron h1, .jumbotron h4{
            color:#FFFFFF;
            background:rgba(0, 0, 0, 0.7);
            padding:5px;
            border-radius: 7px;
            display:table;
        }
    </style>
    <script>
        $( document ).ready(function() {
            var x = document.getElementsByClassName("container")[1];
            x.classList.remove("container");

            console.log("Bom Dev -> Container principal removido");
        });
    </script>
}