@model Data.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="adm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enabled" class="control-label"></label>
                <input asp-for="Enabled" class="form-control" checked="checked" />
                <span asp-validation-for="Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="nivelSelect" class="control-label"></label>
                <select id="nivelSelect" name="Order" onchange="LoadCategoriesByOrder(this.value);">
                    <option value="1">1º nível</option>
                    <option value="2">2º nível</option>
                    <option value="3">3º nível</option>
                </select>
            </div>
            <div class="form-group">
                <label for="parentCategorySelect" class="control-label"></label>
                <select id="parentCategorySelect" name="ParentCategoryId">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="adm" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function () {            
            $('#parentCategorySelect').fadeOut();

        });

        function LoadCategoriesByOrder(_order) {
            var loading = $("#divProgress");
            var select = $('#parentCategorySelect');
            
            select.empty();
            if (_order == 1) {
                select.fadeOut();
                return null;
            }
            else {
                select.fadeIn();
            }

            _order--;

            loading.fadeIn();
            $.ajax({
                type: 'POST',                                
                url: '/adm/category/GetCategoriesByOrder',
                data: jQuery.param({ order: _order}),
                cache: false,                
                success: (e) => {                                        
                    $.each(e, function (index) {
                        var categoryId = e[index].categoryId;
                        var name = e[index].name;                        

                        select.append('<option value="'
                            + categoryId
                            + '">'
                            + name
                            + '</option>');
                    });
                },
                error: (e) => {
                    
                },
                complete: (e) => {
                    loading.fadeOut();
                }
            });
        }
    </script>
}
