@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Resetar senha";
}

<h1>@ViewData["Title"]</h1>
<p class="text-info">
    Por favor, verifique seu e-mail para resetar sua senha.    
</p>

