@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="alert alert-warning" role="alert">
            Enviado e-mail de confirmação de registro para @Model.Email            
            <a asp-area="Identity" asp-page="/Account/ResendEmailConfirmation" asp-route-email="@Model.Email" class="btn btn-primary">Reenviar</a>             
        </div>        
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Por favor, verifique seu e-mail para confirmar o registro.
        </div>
    }
}
