@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação resetar senha";
}

<h1>@ViewData["Title"]</h1>
<div class="alert alert-success" role="alert">    
    Sua senha foi resetada com sucesso.
    <a asp-page="./Login" class="btn btn-primary">Clique aqui para logar</a>
</div>
