<details>
    <summary>
        Disponibilidade em outros idiomas&nbsp;
        <img src="/img/language.png" id="selectLanguageImg" width="16" height="16" class="mr-2">
    </summary>
    <p>Use o seguinte padrão:</br>{"pt-BR":"tradução para português", "en-US":"translation to English"}</p>
</details>