/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --colorI: #01281a;
    --colorII: #fff;
    --colorIII: #000;
}

#menu0 {
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--colorI);
    color: #fff;
    font-size: 80%;
    padding-right: 3%;
    padding-left: 3%;    
}

#divProgress{    
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background:#fff;
    z-index:1;
    opacity:0.4;
}

#divProgress img {     
    width: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.menuAdm {
    margin-right: 7%;
    margin-left: 7%;
    padding: 2px 2% 2px 2% !important;
    background: var(--colorII) !important;
    color: var(--colorI) !important;    
    font-weight:bold;
}

#menuAdmContainer {
    background: var(--colorI);
    padding-bottom: 5px;    
}

#inputSearch{
    width:100%;    
    margin-top:7px;
}
#submitSearch {
    display:none;
}

.menuAdm .nav-item {
    font-size: 80%;
    font-weight: bold;
}

.menuAdm .nav-item a {
    color: var(--colorI) !important;
}

#menuDinamico {
    margin-right: 7%;
    margin-left: 7%;
}
#menuDinamico div ul li {
    font-size: 120%;    
}
#currentPageDesc{
    color:#FFF;
}

#menu {    
    padding-bottom: 15px;
    background: var(--colorI);    
    padding-right: 3%;
    padding-left: 3%;
}

#menu .container-fluid {
    border-top: solid 1px #000;
    padding-top:15px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;  
  margin-right: 5%;
}

.btn-primary {
  color: #1e90ff;
  background-color: #F5F5F5;
  border: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--colorII);
    background-color: var(--colorI);
    border-color: var(--colorI);
}

.nav-pills .nav-link{color: #000;}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;    
  }   

  .dropdown-item-bomdev {
    min-width: 300px;  
  }  
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;   
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;     
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Bom Terrários 2*/

#layoutLogo{  
  width: 82px;
  height: 42px;
  background-image: url(../img/bt.svg);  
  background-repeat: no-repeat;  
  background-size: 82px 42px;  
}

/*Bom Terrários 1*/
/*#layoutLogo{  
  width: 85px;
  height: 16px;
  background-image: url(../img/BomDev.svg);  
  background-repeat: no-repeat;  
  background-size: 85px 16px;  
}*/

h1,h2,h3,h4,h5,a,span,p, label, input, button{font-family: 'Lato', sans-serif;}
h4,h5,p{font-weight: 300;}
.text-descricao-P{font-size: 90%;}
.link-destacado{color:#1e90ff;}

/* Provide sufficient contrast against white background */
a {
  color: #1e90ff;  
}

.nav-item{margin-left: 4px;}

.text-info
{
  color: #323232!important;
}

.dropdown-item-bomdev{margin-left: 20px;margin-top:1.5%;margin-bottom:1.5%;margin-right: 15px;}
.dropdown-menu-bomdev li{border-top:dashed 1px #DCDCDC;}
.dropdown-menu-bomdev li:first-child{border-top: none;}
.dropdown-item-bomdev p{text-indent: 10px;}

/* SubMenus funcionamento */
.dropdown-submenu {
  position: relative;    
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

input[type="text"],input[type="email"], input[type="tel"],input[type="password"]{background: transparent;border:none;border-bottom:solid 2px #626262;border-radius: 0px;}
.bomDevSearchInputStyle {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzFfMV8iIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik01LDEwYzEuMTk4LDAsMi4yODQtMC40NDEsMy4xNDctMS4xNDZsNyw3bDAuNzA3LTAuNzA3bC03LTdDOS41NTksNy4yODQsMTAsNi4xOTgsMTAsNWMwLTIuNzU3LTIuMjQzLTUtNS01UzAsMi4yNDMsMCw1ICBTMi4yNDMsMTAsNSwxMHogTTUsMWMyLjIwOSwwLDQsMS43OTEsNCw0YzAsMi4yMDktMS43OTEsNC00LDRTMSw3LjIwOSwxLDVDMSwyLjc5MSwyLjc5MSwxLDUsMXoiLz48L3N2Zz4=') !important;
    background-repeat: no-repeat !important;
    background-size: 14px 14px !important;
    background-position-y:center !important;
    padding-left:25px !important;    
}

/*  */
@media (max-width: 580px) {  
  .fundo-arredondado{
    background:transparent;      
  }    
}
